<div class="container">
  <h3>Tweets</h3>
  <%= link_to 'New Tweet', new_post_path %>
  <br>
  <br>
  <table>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.content %></td>
      <td><%= post.created_at %></td>
    </tr>
    <% end %>
  </table>
</div>
